.search-bar{

}

.search-bar .search-suggestion {
    width: 200px;
    max-height: 300px;
    overflow-y: scroll; 
  }
  
.search-bar .search-suggestion::-webkit-scrollbar {
      display: none;
  }
  
.search-bar .search-suggestion {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }

